@media (min-width:1210px){
  .product_list{
    max-width:1210px;
    margin-top:400px;
  }
  .container{
    max-width:1210px;
  }
  .logo{
    width:90px;
    height:45px;
    margin-right:20px;
  }
  .sq_but{
    margin-right:15px;
  }
  .navbutton{
    font-size:110%;
    height:34px;
    padding:18px 15px 0px 10px;
  }
  .butwhite{
    padding:22px 15px 0px 10px;
  }
  .corporate{
    width:97%;
    margin-left:0px;
  }
  .product_header{
    margin-left:5px;
    padding-left:10px;
    padding-right:15px;
  }
  .maincat{
    font-size:150%;
  }
  .subcat{
    font-size:120%;
  }
  .inventory{
    float:right;
  }
  .comment_button{
    padding:22px 25px 0px 20px;
  }
  .comment_buton{
    margin-left:10px;
  }
  .search{
      width:260px;
      padding-left:10px;
  }
  .searchbar{
    width:180px;
    margin-right:20px;
  }
  #q{
    margin-top:-53px;
  }
  .product{
    min-width:280px;
    height:400px;
  }
  .product_desc{
   max-width:270px;
   min-width:270px;
  }
  .product_desc_sm{
   max-width:265px;
   min-width:265px;
   height:118px;
  }

  .wrap_fm{
    float:left;
    width:300px;
  }
  .product_full_img{
    width:300px;
    height:300px;
  }
  .product_txtblock{
    padding-left:315px;
  }
  .product_full_name{
    position:relative;
    top:-40px;
    padding-right:25px;
    z-index:4;
  }
  .product_full_desc{
    padding-top:0px;
    margin-top:-20px;
  }
  .delinfo_block{
    width:400px;
  }
  .delinfo_block_center{
    width:400px;
  }
  .delinfo_block_right{
    width:350px;
  }
  .txt{
    font-size:110%;
  }
  ._centr{
    width:45%;
  }

  .supreme{
    top:-18px;
    margin-left:155px;
  }
  .xl{
    margin-left:225px;
  }
  .loginfields{
    width:350px;
  }
  .areafields{
    min-width:450px;
  }
  .baseform{
    width: 500px;
  }
  .butnbase{
     float:right;
     margin-top:-65px;
  }
}
@media (max-width:1209px) {
  .product_list{
    max-width:910px;
    margin-top:400px;
  }
  .container{
    max-width:910px;
    padding-left:10px;
    padding-right:10px;
  }
  .logo{
    width:90px;
    height:45px;
    margin-right:20px;
  }
  .sq_but{
    margin-right:15px;
  }
  .navbutton{
    font-size:100%;
    height:36px;
    padding:20px 10px 0px 6px;
  }
  .butwhite{
    padding:22px 5px 0px 5px;
  }
  .corporate{
    width:97.5%;
    margin-left:-10px;
  }
  .product_header{
    margin-left:5px;
    padding-left:10px;
    padding-right:15px;
  }
  .maincat{
    font-size:125%;
  }
  .subcat{
    font-size:110%;
  }
  .comment_button{
    padding:22px 25px 0px 20px;
  }
  .inventory{
    float:right;
  }
  .comment_buton{
    margin-right:-10px;
  }
  .search{
      width:260px;
      padding-left:10px;
  }
  .searchbar{
    width:180px;
    margin-right:20px;
  }
  #q{
    margin-top:-53px;
  }
  .product{
    min-width:280px;
    height:400px;
  }
  .product_desc{
   max-width:270px;
   min-width:270px;
  }
  .product_desc_sm{
   max-width:265px;
   min-width:265px;
   height:118px;
  }

  .wrap_fm{
    float:left;
    width:300px;
  }
  .product_full_img{
    width:300px;
    height:300px;
  }
  .product_txtblock{
    padding-left:315px;
  }
  .product_full_name{
    position:relative;
    top:-40px;
    padding-right:25px;
    z-index:4;
  }
  .product_full_desc{
    padding-top:0px;
    margin-top:-20px;
  }
  .delinfo_block{
    width:400px;
  }
  .delinfo_block_center{
    width:400px;
  }
  .delinfo_block_right{
    width:350px;
  }
  .txt{
    font-size:100%;
  }

  .radical_left{
    width:50%;
    font-size:90%;
  }
  .radical_right{
    font-size:90%;
  }
  .sidebar{
    width:25%;
    font-size:90%;
  }
  ._centr{
    width:30%;
  }

  .supreme{
    top:-18px;
    margin-left:155px;
  }
  .xl{
    margin-left:225px;
  }
  .loginfields{
    width:350px;
  }
  .areafields{
    min-width:450px;
  }
  .baseform{
    width: 500px;
  }
  .butnbase{
     float:right;
     margin-top:-65px;
  }
}
@media (max-width:956px){
  .corporate{
    width:97%;
    margin-left:-10px;
  }
  .radical_left{
    width:50%;
    font-size:80%;
    margin-left:0px;
  }
  .radical_right{
    font-size:90%;
  }
  .sidebar{
    width:30%;
    font-size:90%;
  }
  ._centr{
    width:30%;
  }
}
@media (max-width:725px){
  .corporate{
    width:85%;
    margin-left:-10px;
  }
  .radical_left{
    width:50%;
    font-size:80%;
    margin-left:0px;
  }
  .radical_right{
    font-size:80%;
  }
  .sidebar{
    width:100%;
    font-size:125%;
    text-align:center;
  }
  ._centr{
    width:100%;
  }
}
@media (max-width:708px) {
  .product_list{
    max-width:708px;
    margin-top:400px;
  }
  .container{
    max-width:688px;
    padding-left:10px;
    padding-right:10px;
  }
  .logo{
    width:90px;
    height:45px;
    margin-right:20px;
  }
  .sq_but{
    margin-right:15px;
  }
  .navbutton{
    font-size:100%;
    height:36px;
    padding:20px 10px 0px 6px;
  }
  .butwhite{
    padding:22px 5px 0px 5px;
  }
  .corporate{
    width:80%;
    margin-left:0px;
  }
  .product_header{
    margin-left:5px;
    padding-left:10px;
    padding-right:15px;
  }
  .maincat{
    font-size:110%;
    visibility:hidden;
    position:absolute;
  }
  .subcat{
    font-size:100%;
    visibility:hidden;
    position:absolute;
  }
  .inventory{
    float:none;
  }
  .comment_button{
    padding:22px 25px 0px 20px;
  }
  .search{
      width:260px;
      padding-left:10px;
  }
  .searchbar{
    width:180px;
    margin-right:20px;
  }
  #q{
    margin-top:-53px;
  }
  .product{
    min-width:46%;
    max-width:46%;
    height:450px;
  }
  .product_desc{
   max-width:95%;
   min-width:95%;
  }
  .product_desc_sm{
   max-width:90%;
   min-width:90%;
   height:168px;
  }

  .wrap_fm{
    width:100%;
  }
  .product_full_img{
    width:75%;
    margin-left:12.5%;
    height:400px;
  }
  .product_txtblock{
    padding-left:0px;
  }
  .product_full_name{
    top:20px;
  }
  .product_full_desc{
    margin-top:35px;
  }
  .delinfo_block{
    width:400px;
  }
  .delinfo_block_center{
    width:400px;
  }
  .delinfo_block_right{
    width:350px;
  }
  .txt{
    font-size:100%;
  }

  .radical_left{
    width:50%;
    font-size:80%;
    margin-left:-40px;
  }
  .radical_right{
    font-size:80%;
  }

  .sidebar{
    width:100%;
    font-size:125%;
    text-align:center;
  }
  ._centr{
    width:100%;
  }

  .supreme{
    top:-18px;
    margin-left:155px;
  }
  .xl{
    margin-left:225px;
  }
  .loginfields{
    width:350px;
  }
  .areafields{
    min-width:450px;
  }
  .baseform{
    width: 500px;
  }
  .butnbase{
     float:right;
     margin-top:-65px;
  }
  /* new part for Iphones*/
  @media (max-width:400px) {
    .product_list{
      max-width:400px;
      margin-top:400px;
    }
    .container{
      max-width:380px;
      padding-left:10px;
      padding-right:10px;
    }
    .logo{
      width:70px;
      height:35px;
      margin-right:20px;
    }
    .sq_but{
      margin-right:5px;
    }
    .navbutton{
      font-size:100%;
      height:36px;
      padding:20px 10px 0px 6px;
    }
    .butwhite{
      padding:22px 5px 0px 5px;
    }
    .corporate{
      width:80%;
      margin-left:0px;
    }
    .product_header{
      margin-left:0px;
      padding-left:0px;
      padding-right:0px;
    }
    .maincat{
      font-size:110%;
      visibility:hidden;
      position:absolute;
    }
    .subcat{
      font-size:100%;
      visibility:hidden;
      position:absolute;
    }
    .comment_button{
      padding:22px 7px 0px 5px;
    }
    .search{
        width:160px;
        padding-left:0px;
    }
    #q{
      margin-top:-73px;
    }
    .searchbar{
      width:120px;
      margin-right:0px;
    }
    .inventory{
      float:none;
    }
    .product{
      min-width:90%;
      max-width:90%;
      height:450px;
    }
    .product_desc{
     max-width:95%;
     min-width:95%;
    }
    .product_desc_sm{
     max-width:90%;
     min-width:90%;
     height:168px;
    }

    .wrap_fm{
      width:100%;
    }
    .product_full_img{
      width:60%;
      margin-left:10%;
      height:200px;
    }
    .product_txtblock{
      padding-left:0px;
    }
    .product_full_name{
      top:20px;
    }
    .product_full_desc{
      margin-top:35px;
    }
    .delinfo_block{
      width:100%;
    }
    .delinfo_block_center{
      width:100%;
    }
    .delinfo_block_right{
      width:100%;
    }
    .txt{
      font-size:100%;
    }

    .radical_left{
      width:50%;
      font-size:80%;
      margin-left:-40px;
    }
    .radical_right{
      font-size:80%;
    }

    .sidebar{
      width:100%;
      font-size:100%;
      text-align:center;
    }
    ._centr{
      width:100%;
    }

    .supreme{
      top:-18px;
      margin-left:0px;
    }
    .xl{
      margin-left:45px;
    }
    .loginfields{
      width:300px;
    }
    .areafields{
      min-width:310px;
    }
    .baseform{
      width: 315px;
    }
    .butnbase{
       float:none;
       margin-top:10px;
       margin-left:90px;
    }
