{% load static %}

<div class='container'>
  <div class='radicalwrap' style='margin-top:60px;'>
  <div class='radical_left' style='float:left;'>
    <ul style='list-style:none'>
      <li>
        <svg class='icon' style="float:left;margin-top:-3px;fill:#ddd;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="{% static 'main/images/home.svg' %}#home"></use>
        </svg>
        <span style='float:left;margin-left:15px;font-weight:600;font-family:"open sans",helvetica,sans-serif'>ООО «ТД Железнодорожник»</span>
        <br><br>
      </li>
      <li>
        <div style='max-width:500px;margin-left:40px;'>
        <span style='font-size:90%;'>
          Общество с Oграниченной Oтветственностью<br><br>
          Торговый Дом с 2007 года, 11 лет опыта поставок!<br>
Свитетельство официального торгового представителя производителя ЗПУ "Охра-1" - Общества с ограниченной ответственностью "СотекКомЦентр"
        </span><br><br>
        <span style='font-size:90%;'>
          Торговая компания<br>
          Дистрибьютор / Реселлер<br>
          Представительство
        </span>
        </div>
      </li><br>
      <li>
        <svg class='icon' style="float:left;margin-top:-3px;fill:#ddd;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="{% static 'main/images/contacts.svg' %}#contacts"></use>
        </svg>
        <span style='float:left;margin-left:15px;font-weight:600;font-family:"open sans",helvetica,sans-serif'>Иванов Константин </span><span style='margin-left:15px;'>контактное лицо</span>
        <br><br>
      </li>
      <li>
        <svg class='icon' style="float:left;margin-top:-3px;fill:#ddd;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="{% static 'main/images/place.svg' %}#place"></use>
        </svg>
        <span style='float:left;margin-left:15px;font-weight:600;font-family:"open sans",helvetica,sans-serif'>Россия, Нижегородская область, <br>Нижний Новгородул. Тихорецкая, д. 13, пом. П3</span>
      </li>
    </ul>
  </div>
  <div class='radical_right' style='padding-top:15px;'>
    <span style='margin-left:40px;font-weight:600;font-family:"open sans",helvetica,sans-serif'>Наши реквизиты:</span><br><br>
    <span style='font-size:90%;'>
    ИНН 5257091129, КПП 525701001<br>
Р/счет 40702810642000027891 в ВОЛГО-ВЯТСКИЙ БАНК <br><br>
ПАО СБЕРБАНК Г. НИЖНИЙ НОВГОРОД К/счет 30101810900000000603, БИК 042202603<br><br>
Р/счет 40702810814200000197 в ПАО «АКБ САРОВБИЗНЕСБАНК», г. Саров <br>
К/счет 30101810422020000718, БИК 042202718<br><br>
ОГРН 1075257005053 ОКПО 80458960<br>
ОКАТО 22401365000 ОКТМО 22701000 ОКОГУ 49013 ОКФС 16 ОКОПФ 65<br>
ОКВЭД основной - 46.90 дополнительные – 46.69.1 46.72.21 47.52.73 49.4 52.21 52.21.1 63.11 63.11.1
   </span>
  </div>
  </div>
</div>
