<div class='footer'>
  <div class='container' style='padding-left:20px;'>
   <div class='sidebar'>
     <span style='font-weight:600;'>ООО «ТД Железнодорожник»</span><br><br><br>
     <div style='margin-top:40px;'>
       <span style='font-weight:600;'>Являемся</span><br><br>
       <span>Торговой компанией<br>
         Дистрибьютором / Реселлером<br>
         Представительством
       </span>
      </div>
   </div>
   <div class='sidebar _centr' style=''>
     <span>Нижегородская область<br>г. Нижний Новгород,
       <br>ул. Тихорецкая, д. 13, пом. П3</span><br><br>
     <div style='margin-top:15px;'>
       <span style='font-weight:600;'>Наши реквизиты</span><br><br>

         <div style=''>
       <span>ИНН 5257091129, <br>
         КПП 525701001<br>
         ОГРН 1075257005053
       </span>
       </div>

      </div>
   </div>
   <div class='sidebar'>
     <span style=''>Иванов Константин</span><br><br>
     <div style='margin-top:15px;'>
       <span style='font-weight:600;'>Прием звонков круглосуточно</span><br><br>
       <span>+79103913193 <br>
         +78314351829<br><br>
         <span style='font-weight:600;'>tdzhd.ru.message.from.site@gmail.com</span>
      </span>
      </div>
    </div>
   </div>
   <div style='height:40px;width:100%;'></div>
 </div>
