{% load static %}
  <div class='header' id='theHeader'>
        <div class='container'>
        <a href="{% url 'home' %}"><div class='logo' id='logo'></div></a>
            <a href="{% url 'home' %}">
            {% if page == "main"%}
            <div class='navbutton pressed' id='home'>
              {% else %}
            <div class='navbutton' id='home'>
              {% endif %}
              <svg class='icon' viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="{% static 'main/images/product.svg' %}#product"></use>
              </svg>
              <span class='butxt'>Наши товары</span>
            </div>
            </a>
            <!--
            <div class='navbutton del_n_pay' id='delivery'>
              <svg class='icon' style='fill:none;' viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="{% static 'main/images/delivery.svg' %}#delivery"></use>
              </svg>
              <span class='butxt'>Доставка и оплата</span>
            </div>
            -->
            <a href="{% url 'about' %}">
            {% if page == "about"%}
            <div class='navbutton pressed' id='about'>
              {% else %}
              <div class='navbutton' id='about'>
              {% endif %}
              <svg class='icon' style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="{% static 'main/images/contacts.svg' %}#contacts"></use>
              </svg>
              <span class='butxt'>О нас</span>
            </div>
            </a>
            <a href="{% url 'contacts' %}">
            {% if page == "contacts"%}
            <div class='navbutton pressed' id='contacts'>
              {% else %}
            <div class='navbutton' id='contacts'>
              {% endif %}
              <svg class='icon' style='width:21px;margin-top:2px;' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                 <use xlink:href="{% static 'main/images/phone.svg' %}#phone"></use>
              </svg>
              <span class='butxt'>Контакты</span>
            </div>
            </a>
            <div class='login_bar' id='user_room'>
              {% if user.is_authenticated %}
                 <div style='width:100%;text-align:center;'>
                   <span>Зравствуйте, {{ user.username }}!<span><br>
                   <a href="{% url 'logout' %}" class='sub' style='margin-left:10px;'>Выйти</a></span></span>
                 </div>
              {% else %}
                 <a href="{% url 'login' %}"><div class='sq_but'><span>Войти</span></div></a>
                 <a href="{% url 'signup' %}"><div class='sq_but sq_red'><span>Регистрация</span></div></a>
              {% endif %}
            </div>
            <div class='burger _hide' id='burger'>
              <svg style="width:45px;height:45px;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="{% static 'main/images/burger.svg' %}#burger"></use>
              </svg>
            </div>
          </div>
          <div id='burger_wraper' class='_hide' style='position:fixed;right:0px;top:0px;width:100%;height:320px;background:#333132;z-index:102;'>
              <div class='burger_header'>
                  <a href="{% url 'home' %}"><div class='logo'></div></a>
                <div class='login_bar' id='user_room' style='float:left;'>
                    {% if user.is_authenticated %}
                       <div style='width:100%;text-align:center;'>
                         <span>Зравствуйте, {{ user.username }}!<span><br>
                         <a href="{% url 'logout' %}" class='sub' style='margin-left:10px;'>Выйти</a></span></span>
                       </div>
                    {% else %}
                       <a href="{% url 'login' %}"><div class='sq_but'><span>Войти</span></div></a>
                       <a href="{% url 'signup' %}"><div class='sq_but sq_red'><span>Регистрация</span></div></a>
                    {% endif %}
                  </div>
                  <div class='burger' id='burger_in' style='float:left;cursor:pointer;fill:#ddd;'>
                    <svg style="width:45px;height:45px;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use xlink:href="{% static 'main/images/cancel.svg' %}#cancel"></use>
                    </svg>
                  </div>
              <div class='burger_but'></div>

          <a href="{% url 'home' %}">
              <div class='burger_but'>
                <div class='butwhite' id='home'>
                  <svg class='icon' viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="{% static 'main/images/product.svg' %}#product"></use>
                  </svg>
                  <span class='butxt'>Наши товары</span>
                </div>
              </div>
              </a>
          <a href="{% url 'about' %}">
              <div class='burger_but'>
                <div class='butwhite' id='about'>
                  <svg class='icon' style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 24 24" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="{% static 'main/images/contacts.svg' %}#contacts"></use>
                  </svg>
                  <span class='butxt'>О нас</span>
                </div>
              </div>
              </a>
          <a href="{% url 'contacts' %}">
              <div class='burger_but'>
                <div class='butwhite' id='contacts'>
                  <svg class='icon' style='width:21px;margin-top:2px;' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                     <use xlink:href="{% static 'main/images/phone.svg' %}#phone"></use>
                  </svg>
                  <span class='butxt'>Контакты</span>
                </div>
              </div>
              </a>
          </div>
        </div>
  <div class='hblow' id='hblow'>
  </div>
  </div>
  {% if page == "about" or page == "contacts" %}
  <div class='picture' style="background-image:url({% static 'main/images/picture.jpg' %});height:600px;" alt="My image">
   {% else %}
  <div class='picture' style="background-image:url({% static 'main/images/picture.jpg' %});" alt="My image">
   {% endif %}
     {% if page == "about" or page == "contacts" %}
      <div style='position:absolute;color:#ddd;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.6);'>
        {% if page == "about" %}
          {% include 'main/about.html' %}
        {% else %}
          {% include 'main/contacts.html' %}
        {% endif %}
      </div>
     {% endif %}
  </div>
